<!-- <h1> {{titulo}} </h1>

<h3>La base es <strong> {{base}} </strong></h3> -->
<!-- entre las {{}} se puede ejecutar cualquier codigo de JS, como asi tambien usar propiedades -->
<!-- <button (click)=" numero = numero + 1; "> + 1 </button> -->
<!-- Lo que esta entre parentesis Angular entiende que es el evento 
Luego de decirle que evento usaremos, entre comillas, se coloca
codigo JS diciendo que accion va a realizar ese evento, es este caso, aumente el numero en + 1 -->
<!-- <span> {{numero}} </span> -->
<!-- <button (click)=" numero = numero - 1; "> - 1</button> -->
<!-- Para colocar un metodo en vez de ponerse las varibles se coloca el nombre del metodo seguido de parentesis-->
<!-- <button (click)=" acumular(base); "> + {{base}} </button>
<span> {{numero}} </span>
<button (click)=" acumular(- base); "> + {{base}} </button> -->

<!-- <app-contador></app-contador> -->

<!-- <app-heroe></app-heroe> -->

<!-- <app-listado></app-listado>  -->

<app-main-page> </app-main-page>