<div class="text-layout">
    <h1>Pipes Basicos</h1>
    <h3>Pipes para manejar textos</h3>
    <p>Pipes incluidos en Angular - Usualmente en CommonModule | Para mas info visitar la documentacion de Angular</p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
                [subheader]="nombreLower">
                {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase"
                [subheader]="nombreUpper">
                {{ nombreLower | lowercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase"
                [subheader]="nombreCompleto">
                {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h3>Date | Fecha | Pipe</h3>
    <p>Pipes que nos permite ver fechas en diferentes formatos</p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'long'</li>
                <li>fecha | date:'dd MM YYYY'</li>
            </ul>
            <hr>
            <ul>
                <li>fecha | date: 'long' : 'GMT-6' </li>
                <li>fecha | date: 'long' : 'GMT-4' </li>
                <li>fecha | date: 'long' : ' ' : 'en' </li>
                <li>fecha | date: 'long' : ' ' : 'ja' </li>
            </ul>
        </p-card>
    </div>
    <div class="col-6">
        <p-card>
            <ul>
                <li> {{fecha}} </li>
                <li> {{fecha | date}} </li>
                <li> {{fecha | date:'short'}} </li>
                <li> {{fecha | date:'long'}} </li>
                <li> {{fecha | date:'dd/MM/YYYY'}} </li>
            </ul>
            <hr>
            <ul>
                <li> {{fecha | date:'long':'GMT-6'}} </li>
                <li> {{fecha | date:'long':'GMT-4'}} </li>
                <li> {{fecha | date:'long':'':'en'}} </li>
                <li> {{fecha | date:'long':'':'ja'}} </li>
            </ul>
        </p-card>
    </div>
</div>