<!-- SIDEBAR -->
<div class="bg-dark border-right p-3" id="sidebar"> <!--bg-dark es para decir que el fondo es negro, border-right para que tenga un borde a la derecha y p-3 para que tenga un padding de 3 pixeles (padding es el area de relleno de los cuatro lados de un elemento) -->
    
    <h3 class="text-light"> <!-- Para que el texto sea blanco -->
      Gifs-App
    </h3>

    <hr class="text-light">

    <div class="list-group list-reset"> <!-- list-group nos permite crear una lista, list-reset para que empieze sin nada -->
      <a 
      *ngFor="let item of historial" 
      href="#" 
      class="list-group-item list-group-item-action"
      (click)="buscar( item )"> 
      {{item | titlecase }} <!-- El pipe titlecase pone Mayusculas al principio de cada palabra -->
      </a> <!-- list-group-item es para que se cree un item, y list-group-item-action para que se le pueda hacer click -->
    </div>
    
  </div>
<!-- END SIDEBAR -->